body {
     color: #9CA3AF !important;
     font-family: 'poppins' , Arial, Helvetica, sans-serif;
}

.zecno-text-1 {
     color: #9CA3AF;
}


.hero {
     background-image: url("./assets/01.jpg");
     background-size: cover;
     background-position: center;
}

.placeholder-zecno {
     color: #fff;
}

.nav-link {
     color: #fff;
}

.swiper {
  width: 90%;
}

.bg-trans {
     background-color: transparent !important;
}

.bg-zecno {
     background-color: #1F2937 !important;
}

.bg-zecno-2 {
     background-color: #111827 !important;
}

.b-line {
  border-bottom: 0.124rem solid #9CA3AF !important;   
}

.active {
     background-color: #9CA3AF;
     color: #111827;
     border-radius: 0.3rem;
}

/* WARNA PANAH */
.swiper-button-next,
.swiper-button-prev {
  color: #1F2937 !important; /* ganti sesuai warna kamu */
}

/* WARNA DOT PAGINATION */
.swiper-pagination-bullet {
  background-color: #ffffff;
  border: 0.1rem solid #fff;
  opacity: 0.4;
}

img {
     width: 100%;
     object-fit: cover;
     object-position: center;
     height: 15rem;
}

/* DOT AKTIF */
.swiper-pagination-bullet-active {
  background-color: #1F2937 !important; /* contoh warna aktif */
  opacity: 1;
}